<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITransfer" maxReceivedMessageSize="20067108864"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISIU" maxReceivedMessageSize="2147483647">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://61.81.99.75:7878/Chating" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ISIU" contract="ServiceReference1.ISIU"
        name="NetTcpBinding_ISIU" />
      <endpoint address="http://61.81.99.75:9000/GetService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITransfer" contract="ServiceReference1.ITransfer"
        name="BasicHttpBinding_ITransfer" />
    </client>
  </system.serviceModel>
</configuration>